:root {
	--almost_white: #eeefff;
	--red: #ff0000;
	--holoblue: #33b5e5;
	--holobluemed: #84d2ef;
	--holobluelt: #ade1f4;
	--redmed: #ff6666;
	--redlt: #ffb2b2;
	--darkblue: #001324;
}
* .bitd-die-tooltip header {
  margin-bottom: 10px;
}
* .bitd-die-tooltip ul {
  list-style: none;
}
* .bitd-die-tooltip .dialog-buttons {
	margin-top: 5px;
}
* .bitd-die-tooltip textarea {
  margin-top: 10px;
  margin-bottom: 20px;
}
* .bitd-die-tooltip td {
  padding: 5px;
}
* .bitd-die-tooltip section {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
* section > * .bitd-die-tooltip:not(.label-stripe) {
  margin-right: 10px;
}
* section > * .bitd-die-tooltip:not(.label-stripe):last-child {
  margin-right: 0px;
}
* .bitd-die-tooltip section .grow-one {
  flex-grow: 1;
}
* .bitd-die-tooltip section .grow-two {
  flex-grow: 2;
}
* .bitd-die-tooltip section.experience {
  margin-bottom: 0px;
  justify-content: center;
}
* .bitd-die-tooltip nav {
  margin-bottom: 10px;
}
* .bitd-die-tooltip .editor,
* .bitd-die-tooltip .editor-content {
  min-height: 280px;
}
* .bitd-die-tooltip .flex-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
* .bitd-die-tooltip .flex-vertical {
  display: flex;
  flex-direction: column;
}
* .bitd-die-tooltip .black-label {
  background-color: #191813;
  color: #EEEFFF;
  font-size: 21px;
  text-align: center;
  padding: 0px 5px;
  height: 30px !important;
  text-transform: capitalize;
}
* .bitd-die-tooltip .gray-label {
  background-color: #999;
  color: #191813;
  font-size: 21px;
  text-align: center;
  padding: 0px 5px;
  height: 30px !important;
  text-transform: capitalize;
}
* .bitd-die-tooltip .chat-label {
  background-color: #191813;
  color: #EEEFFF;
  font-size: 21px;
  text-align: center;
  padding: 0px 5px;
  height: 30px !important;
  text-transform: capitalize;
}
* .bitd-die-tooltip .chat-label-small {
  background-color: #999;
  color: #191813;
  font-size: small;
  text-align: center;
  padding: 3px 5px;
  height: 20px !important;
}
* .bitd-die-tooltip .chat-label-small-red {
  background-color: red;
  color: #191813;
  font-size: small;
  text-align: center;
  padding: 3px 5px;
}
* .bitd-die-tooltip .label-stripe {
  text-transform: uppercase;
  background-color: #191813;
  color: #EEEFFF;
  margin-bottom: 10px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  font-weight: bold;
}
* .bitd-die-tooltip .label-stripe .hoverlink {
  cursor: pointer;
  transition: filter 0.1s;
}
* .bitd-die-tooltip .label-stripe .hoverlink:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .bitd-die-tooltip .label-stripe-red {
  text-transform: uppercase;
  background-color: #191813;
  color: red;
  margin-bottom: 10px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  font-weight: bold;
}
* .bitd-die-tooltip .label-stripe-gray {
  text-transform: uppercase;
  background-color: #92a6ad;
  margin-bottom: 10px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  font-weight: bold;
}
* .bitd-die-tooltip .label-stripe-chat {
  text-transform: uppercase;
  background-color: #191813;
  color: #EEEFFF;
  margin-bottom: 10px;
  position: relative;
  padding-top: 3px;
  display: flex;
  font-weight: bold;
  margin: 0;
}
* .bitd-die-tooltip .label-stripe-chat-small {
  text-transform: capitalize;
  background-color: #999;
  color: #191813;
  position: relative;
  padding-top: 3px;
  display: flex;
  font-weight: bold;
}
* .bitd-die-tooltip .label-stripe-chat-small-red {
  text-transform: capitalize;
  background-color: red;
  color: #191813;
  position: relative;
  padding-top: 3px;
  display: flex;
  font-weight: bold;
}
* .bitd-die-tooltip .description {
  font-style: italic;
}
* .bitd-die-tooltip .tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #191813;
  color: #EEEFFF;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 9999;
}
* .bitd-die-tooltip .tooltip:hover .tooltiptext {
  visibility: visible;
}
* .bitd-die-tooltip .die {
  font-weight: bold;
  text-transform: capitalize;
  font-size: large;
  margin-top: 10px;
}
* .bitd-die-tooltip .die.great,
* .bitd-die-tooltip .die.critical-resist,
* .bitd-die-tooltip .die.critical-success {
  color: #12a012;
}
* .bitd-die-tooltip .die.nodamage,
* .bitd-die-tooltip .die.standard,
* .bitd-die-tooltip .die.resist,
* .bitd-die-tooltip .die.success {
  color: #008000;
}
* .bitd-die-tooltip .die.malfunction,
* .bitd-die-tooltip .die.limited,
* .bitd-die-tooltip .die.partial-success {
  color: #04578f;
}
* .bitd-die-tooltip .die.damaged,
* .bitd-die-tooltip .die.poor,
* .bitd-die-tooltip .die.failure {
  color: red;
}
* .dice-tooltip.bitd-die-tooltip .dice-rolls .roll.die.bitdd6.black {
  background-image: url(icons/d6-black.svg) !important;
  color: var(--almost_white);
}
* .dice-tooltip.bitd-die-tooltip .dice-rolls .roll.die.bitdd6.gray {
  background-image: url(icons/d6-grey.svg) !important;
}
